body{
    margin: 0px;
    font-family: Time New Roman;
}
input,button,select{
	border-radius:5px;
}
#top{
	float:left;
	height:3.1%;
	width:100%;
	background-color:black;
    color: white;
    font-weight: bold;
    border-bottom: 5px groove #955858;
}
#left{
    border-right: 5px groove #955858;
    padding-top:.5%;
	float:left;
	height:94%;
	width:15%;
	background-color:rgba(5, 5, 5, 0.5);
}
#main{
    
    padding-top:0%;
	float:left;
	height:94%;
	width:85%;
	background-color:;
}
#creat{
    float:left;
    text-align: right;
	height:3%;
	width:100%;
	background-color:black;
    color: white;
    padding-right: 1%;
    border-top: 5px groove #955858;
}a:hover{font-size: 110%}
#creat_index{
    position: fixed;
	bottom:0%;left:0px;
    text-align: right;
	height:3%;
	width:100%;
	background-color:black;
    color: white;
    padding-right: 1%;
    border-top: 5px groove #955858;
}
#logout{
    position: absolute;
    top: 0%;
    right: 1%;
    height:2.5%;
    width:auto;
}
iframe{
    height: 100%;
    width: 100%;
}
.left{
    font-family: Time New Roman;
    border: 0px solid red;
    background-color: transparent;
    width: 100%;
    color: azure;font-size: 100%;
}
.left:hover{
    background-color: black;
    color: white;
    font-size: 110%;
}
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
